.bind-content {
  text-align: center;
  border: 1px solid #e5e5e5;
}

.bind-content .left, .bind-content .right {
  padding: 8% 0 8%;
}

.bind-content .left {
  border: 1px solid #e5e5e5;
  border-top: none;
  border-left: none;
}

.bind-content .right {
  border-bottom: 1px solid #e5e5e5;
}

.bind-content .right p {
  margin-bottom: 5px;
}

.bind-content p {
  word-wrap: break-word;
}

.bind-content .bind-word {
  height: 70px;
}

.bind-content p {
  margin-top: 5px;
  height: auto;
  cursor: pointer;
}

.color-ca {
  color: #cacaca;
}

.bind-content .arrow-left {
  margin-left: 5px;
}

.bind-content img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.bind-content .bind-rule {
  white-space: normal;
  padding: 3% 0 4% 25px;
  background: #fbfbfb;
}

@media (max-width: 767px) {
  .my-order-title {
    font-size: 20px;
    padding: 35px 0 80px;
  }

  .mo-bind-content {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
  }

  .mo-bind-content .mo-part {
    height: 60px;
    padding: 15px 0;
    line-height: 30px;
  }

  .mo-bind-content:first-child {
    border-bottom: none;
  }

  .mo-bind-content .mo-part img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }

  .mo-bind-rule {
    padding: 20px 0;
  }

  .mo-bind-rule p {
    word-wrap: break-word;
  }

  .mo-bind-rule p:first-child {
    margin-bottom: 10px;
  }

  .my-order-container .my-order-col {
    margin: 0;
    padding: 0 10px;
  }
}