.ab-info{
    border: 1px dashed #E5E5E5;
    padding: 15px 20px 15px 50px ;
}
/*.ab-info:last-child{*/

    /*padding: 25px 10px 25px 50px ;*/
/*}*/
.ab-defaultaddress{
    background-color: #000000;
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px 4px;
}
.ab-info img{
    opacity: 0.5;
width: 18px;
    height: 18px;
    position: relative;
    top:-2px;
    right:15px;
}
@media (max-width:767px) {
    .shopping-car{
        width:100%;
        margin: auto;
    }
    .ab-info{
        border: 1px dashed #E5E5E5;
        padding: 20px 15px ;
    }
    .my-order-container .my-order-col {
        margin: 0;
        padding:0 10px;
    }
}