<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0 , maximum-scale=1.0 , minimum-scale=1.0 , width=device-width, height=device-height">
    <title>首页</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/theme.css">
    <link rel="stylesheet" href="../style/index.css">
    <script src="../lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/bootstrap/js/masonry.js"></script>
    <script src="../lib/bootstrap/js/imagesloaded.js"></script>
    <script src="../script/common-head-footer.js"></script>
</head>
<body>
<!--PC顶端促销通知-->


<div class="sy-head-remain text-center font12" style="background-color:#000000;color:#FFFFFF" id="promotion-notice">
    <span>周年期间，会员尊享双倍积分。</span>
    <a href="#" class="mg-LR15" style="color:#FFFFFF">了解更多</a>
    <img src="../assets/img/close-fff.png" alt="关闭" onclick="closeTips()">
</div>


<!--头部-->
<section class="head clearfix">
    <!--客服-->
    <div class="customer-service-container text-center visible-lg cursor-p">
        <img src="../assets/img/hua.png"><br>
        <p class="font12 color-000 pd-T5">客</p>
        <p class="font12 color-000">服</p>
    </div>
    <div class="mini-shop-qrocde visible-lg">
        <img src="../assets/icon/mini-shop-qrcode.svg" class="mini-shop-qrcode-img">
        <img src="../assets/img/moco-sun-qrcode.jpg" class="sun-qrcode-img">
    </div>

    <div class="lg-head clearfix">
        <div class="syheader-container">
            <div class="row sy-logistics-info-row">
                <div class="col-lg-4 col-xs-12 sy-padding0 font12 sy-option-username">
                    <div class="sy-option-left">
                        <div class="mobile-sy-option-left">
                            <span class="sy-padding-right-15">订单FG121526已从广州发出</span>
                            <span class="sy-logistics-info-time">3小时前</span>
                            <div class="sy-head-remain-clean hidden-lg" onclick="closeTips()">
                                <span>+</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="mobile-sy-option-left-close hidden-lg" onclick="closeMobileTips()">-->
                    <!--<img src="../assets/img/close-fff.png" alt="关闭">-->
                    <!--</div>-->
                </div>
                <!--移动端汉堡包button-->
                <div class="visible-xs col-xs-4 pull-left aibo-nav-mobile-div aibo-nav-shopping-mobile-img">
                    <img src="../assets/img/hamburger.png" onclick="showMobileNav()">
                </div>
                <div class="col-lg-4 col-xs-4 text-center sy-padding0 aibo-nav-mobile-div homepage-logo">
                    <img src="../assets/img/MO&Co.svg" onclick="routerTo('home-page.html')">
                </div>
                <div class="visible-xs col-xs-4 pull-right text-right aibo-nav-mobile-div">
                    <img src="../assets/icon/shoping-bag.svg" onclick="routerTo('shopping-bag.html')">
                    <div class="shoppingCar-badge-mobile"><span class="badge">3</span></div>
                </div>
                <div class="col-lg-4 visible-lg sy-padding0 sy-option-nav pull-right">

                    <div class="row sy-logistics-info-row text-right">
                        <div class="col-lg-offset-3 col-lg-3 sy-padding0 font12 sy-option-username text-left">
                            <a href="javascript:login()" class="login-register-a display-none">登陆/注册</a>
                            <a href="#" class="sy-username-option">E1234567890测试测试测试测试测试测试测试测试测试</a>
                        </div>
                        <div class="col-lg-2 sy-padding0 sy-option-nav-img">
                            <img src="../assets/icon/my-center.svg">
                        </div>
                        <div class="col-lg-2 sy-padding0 sy-option-nav-img">
                            <img src="../assets/icon/colllecttioning.svg" onclick="routerTo('my-collection.html')">
                        </div>
                        <!--购物车悬浮增加作用范围-->
                        <div class="shoping-bag-hover"></div>
                        <div class="col-lg-2 sy-padding0 text-right">
                            <span class="shoppingCar-img-div sy-option-nav-img-span sy-option-nav-img">
                                <img src="../assets/icon/shoping-bag-pc.svg">
                                <div class="shoppingCar-badge"><span class="badge">3</span></div>
                            </span>
                            <div class="lg-shopCar-float text-left sy-shopping-list">
                                <p class="pd-TB10 ">您的购物袋中共有3件商品</p>
                                <ul class="goods">
                                    <li class="goods-item clearfix">
                                        <div class="col-lg-3 no-pd ">
                                            <img src="../assets/img/Coat.png">
                                        </div>
                                        <div class="col-lg-6 pd-LR10 color-80 font12">
                                            <p class="color-000 font14">橙色V领毛衣</p>
                                            <p class="pd-TB5">黄色</p>
                                            <p>尺码：XL</p>
                                            <p class="pd-TB5">数量：1</p>
                                        </div>
                                        <div class="col-lg-3 no-pd">￥1299</div>
                                    </li>
                                    <li class="goods-item clearfix">
                                        <div class="col-lg-3 no-pd ">
                                            <img src="../assets/img/Coat.png">
                                        </div>
                                        <div class="col-lg-6 pd-LR10 color-80 font12">
                                            <p class="color-000 font14">橙色V领毛衣</p>
                                            <p class="pd-TB5">黄色</p>
                                            <p>尺码：XL</p>
                                            <p class="pd-TB5">数量：1</p>
                                        </div>
                                        <div class="col-lg-3 no-pd">￥1299</div>
                                    </li>
                                    <li class="goods-item clearfix">
                                        <div class="col-lg-3 no-pd ">
                                            <img src="../assets/img/Coat.png">
                                        </div>
                                        <div class="col-lg-6 pd-LR10 color-80 font12">
                                            <p class="color-000 font14">橙色V领毛衣</p>
                                            <p class="pd-TB5">黄色</p>
                                            <p>尺码：XL</p>
                                            <p class="pd-TB5">数量：1</p>
                                        </div>
                                        <div class="col-lg-3 no-pd">￥1299</div>
                                    </li>
                                </ul>
                                <div class="goods-foot">
                                    <div class="clearfix">
                                        <div class="col-lg-6 pd-L0 pd-R5">
                                            <button class="col-lg-12 btn btn-primary"
                                                    onclick="routerTo('shopping-bag.html')">查看购物袋
                                            </button>
                                        </div>
                                        <div class="col-lg-6 pd-R0 pd-L5">
                                            <button class="col-lg-12 btn btn-default"
                                                    onclick="routerTo('order-verify.html')">立即购买
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--下拉列表-->
                    <div class="sy-username font12 font-blod">
                        <ul>
                            <li><a href="my-information.html">修改个人资料</a></li>
                            <li><a href="javascript:loginout()">退出登录</a></li>
                        </ul>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--导航栏-->
    <div class="home-page-nav-container">
        <!--PC端导航菜单-->
        <div class="aibo-headnav">
            <ul class="font16">
                <li><span><a href="#" onclick="toNav('本周新品')">本周新品</a></span></li>
                <li><span><a href="#" onclick="toNav('连衣裙')">连衣裙</a></span></li>
                <li><span><a href="#" onclick="toNav('卫衣')">卫衣</a></span></li>
                <li><span><a href="#" onclick="toNav('裤袋')">裤装</a></span></li>
                <li><span class="aibo-all-products"><a href="#" onclick="toNav('全部商品')">全部商品</a></span></li>
                <li><span class="brand-story-show"><a href="#" onclick="toNav('品牌故事')">品牌故事</a></span>
                    <ol class="brand-story hidden">
                        <li>CAMPAIGN</li>
                        <li>HAPPENING</li>
                        <li>MSD</li>
                    </ol>
                </li>
                <li><img class="nav-search" src="../assets/img/search.svg" onclick="search()"></li>
            </ul>
        </div>
        <!--PC端全部商品下拉列表-->
        <div class="pulldown sy-total-products-pulldown font12 aibo-nav-pulldown display-none opacity-0">
            <div class="clearfix">
                <div class="row sy-logistics-info-row">
                    <div class="col-lg-12 col-md-12 sy-padding0 aibo-nav-total-products">
                        <div class="row " id="masonry">

                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 box">
                                <ul>
                                    <li class="sy-total-products-title">连衣裙</li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                    <li class="sy-total-products-item"><a href="#">中长裙</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--品牌故事-->
        <!--<div class="brand-story">-->
        <!--<ul>-->
        <!--<li>CAMPAIGN</li>-->
        <!--<li>HAPPENING</li>-->
        <!--<li>MSD</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--PC端搜索-->
        <div class="head-search text-center hidden-xs display-none">
            <div class="pc-search-content text-left pc-input-containder">
                <div class="nav-search-container">
                    <img class="nav-search" src="../assets/img/search.svg">
                </div>
                <input class="search-input search-product-info pc-input-serch" type="text"
                       placeholder="请输入您要搜索的商品信息"
                       style="outline: none;">
            </div>
            <button class="btn-default pd-LR15 mg-LR15 pc-search-btn">搜索</button>
            <div class="pc-search-close-img"><img onclick="closeSearch()" src="../assets/icon/delete.svg" alt="关闭">
            </div>
            <div class="search-pulldown-new search-pulldown">
                <div class=" pd-TB10 clearfix search-product-info-result homepage-search-resresult">
                    <ul class="pulldown-list">
                        <li class="pd-TB10 font12 color-80">快速链接</li>
                        <li class="pulldown-item"><a href="#">中长连衣裙</a></li>
                        <li class="pulldown-item"><a href="#">短袖连衣裙</a></li>
                    </ul>
                </div>
                <div class="pd-TB10 clearfix history-search homepage-history-search">
                    <ul class="pulldown-list">
                        <li class="pd-TB10 font12 color-80">历史记录</li>
                        <li class="pulldown-item text-autohidden"><a href="#">摇滚街头摇滚街头摇滚街头摇滚街头摇滚街头</a></li>
                        <li class="pulldown-item"><a href="#">运行风</a></li>
                    </ul>
                    <ul class="pulldown-list">
                        <li class="pd-TB10 font12 color-80">热门专题推荐</li>
                        <li class="pulldown-item"><a href="#">官网限定款</a></li>
                        <li class="pulldown-item"><a href="#">明星推荐</a></li>
                        <li class="pulldown-item"><a href="#">明星推荐</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!--移动端导航菜单-->
        <div class="mask display-none" onclick="closeMobileNav()"></div>
        <div class="aibo-mobile-headnav visible-xs" id="aibo-mobile-headnav">
            <ul class="aibo-mobile-headnav-container font-blod">
                <li class="search-mobile-li " onclick="showMobileSearch('.mobile-search')"><img
                        src="../assets/img/search.svg" alt="搜索"></li>
                <li><span><a href="#" onclick="toNav('本周新品')">本周新品</a></span></li>
                <li><span><a href="#" onclick="toNav('连衣裙')">连衣裙</a></span></li>
                <li><span><a href="#" onclick="toNav('卫衣')">卫衣</a></span></li>
                <li><span><a href="#" onclick="toNav('裤袋')">裤装</a></span></li>
                <li onclick="showMobileSearch('.mobile-allProduct')">
                    <span><a href="#">全部商品</a></span>
                </li>
                <li class="mb-brand-story-show"><span><a href="#" onclick="toNav('品牌故事')">品牌故事</a></span></li>

                <li class="nav-loader-pdt font12 font-blod"><span><a href="#">在线客服</a></span></li>
                <li class="nav-loader font12 font-blod"><span><a href="#">帮助中心</a></span></li>
                <li class="nav-loader font12 font-blod"><span><a href="#">查找门店</a></span></li>
            </ul>
            <div class="row pd-L15 pd-R15 user-option">
                <div class="col-xs-8 sy-padding0 text-left font14">
                    <a href="#" class="font14 login-mobile" onclick="login()"><span>登陆/注册</span></a>
                    <div class="row pd-L15 user-name-option display-none">
                        <div class="col-xs-8 sy-padding0 user-name"><a href="#"
                                                                       class="font14"><span>15563748229eqweq</span></a>
                        </div>
                        <div class="col-xs-4 sy-padding0 text-center"><a href="#" class="font14 loginout-mobile"
                                                                         onclick="loginout()"><span>退出</span></a></div>
                    </div>
                </div>
                <div class="col-xs-2 sy-padding0 text-right sy-option-nav-img"><img src="../assets/icon/my-center.svg">
                </div>
                <div class="col-xs-2 sy-padding0 text-right sy-option-nav-img"><img
                        src="../assets/icon/colllecttioning.svg" onclick="routerTo('my-collection.html')"></div>
            </div>
        </div>

        <!--移动端搜索-->
        <div class="mobile-search position-r  search-page-height visible-xs" id="search-page-height">
            <div class="search-content text-left">
                <span class="mobile-glyphicon-search"><img onclick="common.search()"
                                                           src="../assets/img/search.svg"></span>
                <input class="search-input pd-L15 search-product-info" type="text" placeholder="请输入您要搜索的商品信息">
                <span class="mobile-glyphicon-search fr"><img src="../assets/img/CLOSE.png"
                                                              onclick="closeMobileSearch('.mobile-search')"></span>
            </div>

            <div class="search-pulldown mobile-search-container">
                <div class="clearfix mobile-search-history homepage-search-resresult display-none">
                    <div class="font12 color-80">快速链接</div>
                    <ul class="pulldown-list">
                        <li class=""><a href="#">中长连衣裙</a></li>
                        <li class=""><a href="#">短袖连衣裙</a></li>
                        <li class=""><a href="#">小花裙</a></li>
                    </ul>
                </div>
                <div class="clearfix mobile-search-history homepage-history-search">
                    <div class="font12 color-80">历史记录</div>
                    <ul class="pulldown-list">
                        <li class=""><a href="#">摇滚街头</a></li>
                        <li class=""><a href="#">休闲运动</a></li>
                        <li class=""><a href="#">百变派对</a></li>
                    </ul>
                </div>
                <div class="clearfix mobile-search-history homepage-history-search">
                    <div class="font12 color-80">热门专题推荐</div>
                    <ul class="pulldown-list">
                        <li class=""><a href="#">官网限定款</a></li>
                        <li class=""><a href="#">明星同款</a></li>
                        <li class=""><a href="#">带上它环游世界</a></li>
                        <li class=""><a href="#">跟着我音乐燥起来</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--移动端全部商品-->
        <div class="mobile-allProduct position-r visible-xs" id="allProduct-page-height">
            <div class="pd-TB15 border-Be5 text-center mobile-allProduct-head">
                <span class="font16 color-80">全部商品</span>
                <span class="mobile-glyphicon-search close-mobile-allproducts">
                    <img src="../assets/img/CLOSE.png" onclick="closeMobileSearch('.mobile-allProduct')">
                </span>
            </div>
            <div class="mobile-allProduct-content">
                <ul class="mg-T10 text-center">
                    <li class="pd-TB10" onclick="toogleClassify(this)">
                        <p class="font18">连衣裙</p>
                        <div class="font14 mobile-classify-item display-none">
                            <p>中长袖连衣裙</p>
                            <p>中长袖连衣裙</p>
                        </div>
                    </li>
                    <li class="pd-TB10" onclick="toogleClassify(this)">
                        <p class="font18">T恤/上衣</p>
                        <div class="font14 mobile-classify-item display-none">
                            <p>中长袖连衣裙</p>
                            <p>中长袖连衣裙</p>
                        </div>
                    </li>
                    <li class="pd-TB10" onclick="toogleClassify(this)">
                        <p class="font18">裤装</p>
                        <div class="font14 mobile-classify-item display-none">
                            <p>中长袖连衣裙</p>
                            <p>中长袖连衣裙</p>
                        </div>
                    </li>
                    <li class="pd-TB10" onclick="toogleClassify(this)">
                        <p class="font18">半裙</p>
                        <div class="font14 mobile-classify-item display-none">
                            <p>中长袖连衣裙</p>
                            <p>中长袖连衣裙</p>
                        </div>
                    </li>
                    <li class="pd-TB10" onclick="toogleClassify(this)">
                        <p class="font18">毛衫</p>
                        <div class="font14 mobile-classify-item display-none">
                            <p>中长袖连衣裙</p>
                            <p>中长袖连衣裙</p>
                        </div>
                    </li>
                    <li class="pd-TB10" onclick="toogleClassify(this)">
                        <p class="font18">精选专题</p>
                        <div class="font14 mobile-classify-item display-none">
                            <p>官网限定款</p>
                            <p>官网限定款</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--品牌故事-->
        <div class="brand-story-bg hidden">

        </div>
        <div class="mb-brand-story hidden-lg">
            <div class="mbs-title">
                <span>品牌故事</span>
                <img src="../assets/img/CLOSE.png">
            </div>
            <ol>
                <li>CAMPAIGN</li>
                <li>HAPPENING</li>
                <li>MSD</li>
            </ol>
        </div>
    </div>

</section>


<section class="mobile-content clearfix home-page-content">
    <!--主内容-->
    <section class="container-fluid no-pd typeCarousel-container">
        <!--主轮播-->
        <div id="typeCarousel" class="sy-main-carousel carousel slide" data-ride="carousel">
            <!-- 小圆点 -->
            <ol class="carousel-indicators ">
                <li data-target="#typeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#typeCarousel" data-slide-to="1"></li>
                <li data-target="#typeCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 图片 -->
            <div class="carousel-inner" role="listbox">
                <div class="item cursor-p active">
                    <img src="../assets/img/main-see.png" class="visible-xs" alt="第一张"
                         onclick="routerTo('product-list.html')">
                    <img src="../assets/img/main-see.png" class="hidden-xs" alt="第一张"
                         onclick="routerTo('product-list.html')">
                </div>
                <div class="item cursor-p">
                    <img src="../assets/img/main-see.png" class="visible-xs" alt="第二张"
                         onclick="routerTo('product-list.html')">
                    <img src="../assets/img/main-see.png" class="hidden-xs" alt="第二张"
                         onclick="routerTo('product-list.html')">
                </div>
                <div class="item cursor-p">
                    <img src="../assets/img/main-see.png" class="visible-xs" alt="第二张"
                         onclick="routerTo('product-list.html')">
                    <img src="../assets/img/main-see.png" class="hidden-xs" alt="第二张"
                         onclick="routerTo('product-list.html')">
                </div>
            </div>
        </div>
        <!--提示图-->
        <div class="sy-notice-container visible-xs">
            <img src="../assets/img/sy-notice-img.jpg">
        </div>
        <!--中层图-->
        <div class="row sy-center sy-content-padding">
            <div class="col-lg-6 col-xs-12 sy-content-img-div img-width100-div">
                <img src="../assets/img/NEW  GENERATION.png">
                <div class="sy-content-img-display sy-cursor">
                    <div class="sy-content-img-txt-container">
                        <span class="sy-content-newin-en">新品上市</span><br>
                        <span class="sy-content-newin-zh"></span>
                    </div>
                </div>
            </div>
            <div class=" col-lg-6 col-xs-12 sy-content-img-div img-width100-div">
                <img src="../assets/img/NEW STYLE Copy.png">
                <div class="sy-content-img-display sy-cursor">
                    <div class="sy-content-img-txt-container">
                        <span class="sy-content-newin-en">限量系列</span><br>
                        <span class="sy-content-newin-zh"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sy-center sy-content-padding">
            <div class="col-lg-6 col-xs-12 sy-content-img-div">
                <div class="sy-center-img-container">
                    <img src="../assets/img/NEW  GENERATION.png">
                </div>
                <div class="sy-center-left-font">
                    <span>东方意蕴</span>
                </div>
            </div>
            <div class=" col-lg-6 col-xs-12 sy-content-img-div">
                <div class="sy-center-img-container">
                    <img src="../assets/img/NEW STYLE Copy.png">
                </div>
                <div class="sy-center-right-font">
                    <span>东方意蕴</span>
                </div>
            </div>
        </div>
        <!--描述-->
        <div class="home-desc-container text-center">
            <p class="home-desc-title">90S GANGSTER</p>
        </div>


        <div class="video-container">
            <video webkit-playsinline playsinline x5-playsinline
                   loop="" preload="auto" muted autoplay id="video"
                   poster="../assets/img/video.png" data-volume="1">
                <source src='https://mallimg.moco.com/MO_191_proxy.mp4'
                        type="video/mp4">
            </video>
            <div class='voice-control-container'>
                <div class='voice-control-muted'></div>
                <div class='voice-control-step hidden'></div>
                <div class='voice-control-step-bg hidden'></div>
            </div>
        </div>
        <div class="video-container">
            <video webkit-playsinline playsinline x5-playsinline
                   loop="" preload="auto" muted autoplay
                   poster="../assets/img/video.png" data-volume="1">
                <source src='https://mallimg.moco.com/MO_191_proxy.mp4'
                        type="video/mp4">
            </video>
            <div class='voice-control-container'>
                <div class='voice-control-muted'></div>
                <div class='voice-control-step hidden'></div>
                <div class='voice-control-step-bg hidden'></div>
            </div>
        </div>
        <!--Top Categories重构-->
        <!--排列1-->
        <div class="sy-desc-container text-center">
            <p class="home-desc-title">Top Categories</p>
        </div>

        <div class="top-categories-container">
            <!--PC端排列-->
            <div class="row visible-lg">
                <div class="col-lg-4">
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/T-shirts.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">T恤</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/Skirt.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">连身裙</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/shirt.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">衬衫</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/shirt.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">外套</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/Pants.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">裤装</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/accessories.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">饰品</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--移动端排列-->
            <div class="row visible-xs">
                <div class="col-xs-6">
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/T-shirts.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">T恤</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/Skirt.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">连身裙</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/shirt.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">外套</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/shirt.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">衬衫</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/Pants.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">裤装</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-img">
                        <img src="../assets/img/home-page/accessories.png">
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">饰品</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--排列2-->
        <div class="top-categories-container-another">
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <div class="top-categories-part">
                        <div class="tc-part-container">
                            <img src="../assets/img/home-page/T-shirts.png">
                        </div>
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">T恤</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-part">
                        <div class="tc-part-container">
                            <img src="../assets/img/home-page/Skirt.png">
                        </div>
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">连身裙</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <div class="top-categories-part">
                        <div class="tc-part-container">
                            <img src="../assets/img/home-page/shirt.png">
                        </div>
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">衬衫</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-categories-part">
                        <div class="tc-part-container">
                            <img src="../assets/img/home-page/shirt.png">
                        </div>
                        <div class="sy-content-img-display sy-cursor">
                            <div class="sy-content-img-txt-container color-fff">
                                <span class="sy-img-list-text-zh">外套</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 探索EPO -->
        <div class="sy-desc-container text-center">
            <p class="home-desc-title">探索EPO</p>
        </div>
        <!-- 探索EPO图片内容 -->
        <div class="row epo-container">
            <div class="col-lg-4 col-xs-12 epo-container-col img-width100-div">
                <img src="../assets/img/NEW  GENERATION.png">
                <div class="sy-content-img-display sy-cursor">
                    <div class="sy-content-img-txt-container">
                        <span class="sy-content-epo-en">edition</span><br>
                        <span class="sy-content-epo-zh">绅士女装</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 epo-container-col img-width100-div">
                <img src="../assets/img/NEW  GENERATION.png">
                <div class="sy-content-img-display sy-cursor">
                    <div class="sy-content-img-txt-container">
                        <span class="sy-content-epo-en">edition</span><br>
                        <span class="sy-content-epo-zh">绅士女装</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 epo-container-col img-width100-div">
                <img src="../assets/img/NEW  GENERATION.png">
                <div class="sy-content-img-display sy-cursor">
                    <div class="sy-content-img-txt-container">
                        <p class="sy-content-epo-en">edition</p>
                        <p class="sy-content-epo-zh">绅士女装</p>
                    </div>
                </div>
            </div>
        </div>
        <!--关注我们-->
        <div class="sy-focus text-center">
            <h1>关注我们</h1>
            <div class="sy-email-input">
                <input class="sy-email-subscription" type="text" placeholder="请输入您的电子邮箱订阅">
            </div>
            <div class="sy-focus-button mg-TB50">
                <button class="btn hidden"><span class="color-000">提交</span></button>
            </div>
            <div class="sy-focus-icon">
                <img src="../assets/icon/weibo%20black.svg"/>
                <img class="weixin-icon" src="../assets/icon/wechat%20black.svg"/>
            </div>
            <!--微信分享二维码图片-->
            <div class="wx-share-container display-none">
                <div class="close-wx-share" onclick="closeWxShare()"><img src="../assets/img/CLOSE.png" alt="关闭"></div>
                <p class="font14 font-blod text-left pd-B15">分享到微信朋友圈</p>
                <img src="../assets/img/weixin.jpg">
                <p class="font14 color-80 text-left pd-T15 pd-B5">打开微信，点击右上角的+，</p>
                <p class="font14 color-80 text-left">使用"扫一扫"即可将网页分享至朋友圈。</p>
            </div>
        </div>
    </section>
    <!--提示-->
    <div class="aibo-toast-container">
        <div class="toast-success display-none">
            <img src="../assets/icon/success-toast.svg">
        </div>
        <div class="toast-fail display-none">
            <img src="../assets/icon/success-toast.svg">
        </div>
    </div>

    <!--尾部-->
    <section class="common-footer" style="background-color: #000000">
        <div class="common-footer-div">
            <div class="row common-footer-container font12 text-left">
                <div class="col-lg-3 col-xs-12 common-footer-title-bottom">
                    <div class="row common-footer-title-row">
                        <div class="col-xs-12 col-lg-12 common-footer-title" style="color: #FFFFFF">帮助中心</div>
                    </div>
                    <ul>
                        <li><a href="#"><span>常见问题</span></a></li>
                        <li><a href="#"><span>支付相关</span></a></li>
                        <li><a href="#"><span>配送</span></a></li>
                        <li><a href="#"><span>退换</span></a></li>
                        <li><a href="#"><span>购买条款</span></a></li>
                        <li><a href="#"><span>隐私政策</span></a></li>
                    </ul>
                    <hr class="mobile-common-hr visible-xs">
                </div>
                <div class="col-lg-3 col-xs-12 common-footer-title-bottom">
                    <div class="row common-footer-title-row">
                        <div class="color-fff col-xs-12 col-lg-12 common-footer-title">关于我们</div>
                    </div>
                    <ul class="text-center">
                        <li><a href="#"><span>关于MO&CO.</span></a></li>
                        <li><a href="#"><span>查找门店</span></a></li>
                        <li><a href="#"><span>联系我们</span></a></li>
                    </ul>
                    <hr class="mobile-common-hr visible-xs">
                </div>
                <div class="col-lg-3 col-xs-12 common-footer-title-bottom">
                    <div class="row common-footer-title-row">
                        <div class="color-fff col-xs-12 col-lg-12 common-footer-title">关注我们</div>
                    </div>
                    <ul>
                        <li><a href="#"><span>邮箱</span></a></li>
                        <li><a href="#"><span>微博</span></a></li>
                        <li><a href="#"><span>微信</span></a></li>
                    </ul>
                    <hr class="mobile-common-hr visible-xs">
                </div>
                <div class="col-lg-3 col-xs-12 common-footer-title-bottom">
                    <div class="row common-footer-title-row">
                        <div class="color-fff col-xs-12 col-lg-12 common-footer-title">探索EPO
                        </div>
                    </div>
                    <ul>
                        <li><a href="#"><span>Edition</span></a></li>
                        <li><a href="#"><span>COMMON GENDER</span></a></li>
                        <li><a href="#"><span>little MO&Co.</span></a></li>
                    </ul>
                    <hr class="mobile-common-hr visible-xs">
                </div>
            </div>
            <hr class="common-footer-hr visible-lg">
            <!--PC端版权声明-->
            <div class="row common-footer-copy-container font12 color-80 visible-lg" style="color: #ffc028">
                <div class="col-lg-6">@2014广州爱帛服饰有限公司&nbsp;&nbsp;粤ICP备12052152号</div>
                <div class="col-lg-6 text-right">
                    <a href="#" class="select-language-zh" style="color: #4cae4c">简体中文</a>
                    <a href="#" class="select-language-us"><span>ENGLISH</span></a>
                </div>
            </div>
            <!--移动端版权声明-->
            <div class="common-footer-copy-container font12 color-80 text-center visible-xs">
                <p class="mobile-language">
                    <a href="#" class="select-language-zh ">简体中文</a>
                    <a href="#" class="select-language-us">ENGLISH</a>
                </p>
                <p>@2014广州爱帛服饰有限公司&nbsp;&nbsp;粤ICP备12052152号</p>
            </div>
        </div>
    </section>
</section>
<script>
    $(document).ready(function () {
        function videoAutoPlay() {
            var videoPlayControl={
                store:{
                    videoes:[]
                },
                init:function(){
                    this.eventsBind();
                    this.store.videoes = document.querySelectorAll("video");
                },
                eventsBind:function () {
                    var t=this;
                    document.querySelector(".mobile-content").addEventListener("touchstart", function () {
                        t.videoesPlay()
                    });
                    document.addEventListener("WeixinJSBridgeReady", function () {
                        t.videoesPlay()
                    }, false);
                    document.querySelector("body").addEventListener("click", function () {
                        t.videoesPlay()
                    });
                },
                videoesPlay:function () {
                    for (var i = 0; i <  this.store.videoes.length; i++) {
                        this.store.videoes[i].play()
                    }
                }

            }
            videoPlayControl.init()
        }
        videoAutoPlay()
        $(".sun-qrcode-img").css({"display": "block"})
        setTimeout(function () {
            $(".sun-qrcode-img").fadeOut(500)
        }, 2500)

    });
    $(function () {
        //轮播图初始化
        // $('#typeCarousel').carousel({
        //     interval: 5000//轮播时间，默认为5秒
        // })
        var isTouch = ('ontouchstart' in window);
        if (isTouch) {
            $("#typeCarousel").on('touchstart', function (e) {
                var that = $(this);
                var touch = e.originalEvent.changedTouches[0];
                var startX = touch.pageX;
                var startY = touch.pageY;
                $(document).on('touchmove', function (e) {
                    touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                    var endX = touch.pageX - startX;
                    var endY = touch.pageY - startY;
                    if (Math.abs(endY) < Math.abs(endX)) {
                        if (endX > 5) {
                            $(this).off('touchmove');
                            that.carousel('prev');
                        } else if (endX < -5) {
                            $(this).off('touchmove');
                            that.carousel('next');
                        }
                        return false;
                    }
                });
            });
            $(document).on('touchend', function () {
                $(this).off('touchmove');
            });
        }
    });

    //邮箱订阅
    $(".sy-email-subscription").focus(function () {
        $(".sy-focus-button button").removeClass("hidden")
    })
    //订阅效果
    $(".sy-focus-button button").click(function (e) {
        e.preventDefault()
        if ($(window).width() < 767) {
            $(".sy-option-username").find(".sy-option-left").hasClass("display-none") ?
                $(".aibo-toast-container").css({"position": "fixed", "top": "45px"})
                : $(".aibo-toast-container").css({"position": "fixed", "top": "75px"})
            //判断头部是否有通知栏，改变弹窗位置
        }
        aiboToast('success', "你已订阅成功")

        $(this).addClass("hidden")
        $(".sy-email-subscription").val('')
    })
    //点击微信
    $(".weixin-icon").click(function () {
        $("body").addClass("common-mask");
        $('.wx-share-container').show();
        $("body").addClass("overFlowHide");
    })

    function closeWxShare() {
        $("body").removeClass("common-mask");
        $('.wx-share-container').hide();
        $("body").removeClass("overFlowHide")

    }

    function videoVoice() {
        var voiceControl = {
            volumeDisappearTimer: {},
            init: function () {
                this.eventsBind();
                var clientWidth=document.documentElement.clientWidth;
                if(clientWidth>768){
                    this.volumeDisappear();
                }

            },
            eventsBind: function () {
                var t = this;

                $(".video-container").mouseenter(function () {
                    var dom = this;
                    t.vcMouseenter(dom)
                })
                $(".video-container").mouseleave(function () {
                    var dom = this;
                    t.vcMouseleave(dom)
                })
                $(".video-container").click(function () {
                    var dom = this;
                    t.vcClick(dom)
                })
                $(".video-container").on('click', '.voice-control-muted', function (e) {
                    var dom = this;
                    t.vcmClick(e, dom)
                });
                $(".video-container").on('click', '.voice-control-step-bg', function (e) {
                    var dom = this;
                    t.vcsbClick(e, dom)
                });
                $(".voice-control-container").on('mouseenter', function () {
                    if(typeof (volumeDisappearTimer)!=="undefined"){
                        clearInterval(volumeDisappearTimer)
                    }
                });
                $(".voice-control-container").on('mouseleave', function () {
                    t.volumeDisappear()
                });
            },
            vcMouseenter: function (dom) {
                if(typeof (volumeDisappearTimer)!=="undefined"){
                    clearInterval(volumeDisappearTimer)
                }
                var hasVoiceTool = $(dom).find(".voice-control-container")
                if (hasVoiceTool) {
                    $(dom).find(".voice-control-container").fadeIn(200);
                    this.volumeDisappear();
                }
            },
            vcMouseleave: function (dom) {
                var hasVoiceTool = $(dom).find(".voice-control-container")
                if (hasVoiceTool) {
                    $(dom).find(".voice-control-container").fadeOut(500);
                }
            },
            vcClick: function (dom) {
                if(typeof (volumeDisappearTimer)!=="undefined"){
                    clearInterval(volumeDisappearTimer)
                }
                var hasVoiceTool = $(dom).find(".voice-control-container")
                if (hasVoiceTool) {
                    $(dom).find(".voice-control-container").fadeIn(200);
                }
                this.volumeDisappear()
            },
            vcmClick: function (e, dom) {
                var currentVolume = parseFloat($(dom).parent().prev("video").attr("data-volume"));
                var isMuted = $(dom).parent().prev("video")[0].muted;
                var mutedUrl = "url('../assets/icon/voice-off.svg')";
                var soundUrl = "url('../assets/icon/voice-on.svg')";
                var volumeHeight = currentVolume * 100;
                var volumeTop = -currentVolume * 100;
                if (isMuted) {
                    $(dom).parent().prev("video")[0].muted = false;
                    $(dom).parent().prev("video")[0].volume = currentVolume;
                    $(dom).css({"background-image": soundUrl})
                    $(dom).parent().find(".voice-control-step").css({
                        "top": volumeTop,
                        "height": volumeHeight
                    })
                } else {
                    $(dom).parent().prev("video")[0].muted = true;
                    $(dom).css({"background-image": mutedUrl})
                    $(dom).parent().find(".voice-control-step").css({
                        "top": "0",
                        "height": "0"
                    })
                }
            },
            vcsbClick: function (e, dom) {
                var volumeHeight, volumeTop, videoVolume;
                var clientWidth = document.documentElement.clientWidth;
                var mutedUrl = "url('../assets/icon/voice-off.svg')";
                var soundUrl = "url('../assets/icon/voice-on.svg')";

                function setSpecialVolume() {
                    if (videoVolume < 0.25) {
                        videoVolume = 0;
                        $(dom).parent().prev("video")[0].muted = true;
                        $(dom).parent().find(".voice-control-muted").css({"background-image": mutedUrl})
                    }
                    if (videoVolume > 0.9) {
                        videoVolume = 1;

                    }
                    if (videoVolume > 0.25) {
                        $(dom).parent().find(".voice-control-muted").css({"background-image": soundUrl})
                        $(dom).parent().prev("video")[0].muted = false;
                    }
                }


                videoVolume = (1 - e.offsetY / 100);
                setSpecialVolume()
                volumeHeight = videoVolume * 100;
                volumeTop = -videoVolume * 100;
                $(dom).parent().prev("video").attr("data-volume", videoVolume)
                $(dom).parent().prev()[0].volume = videoVolume;
                $(dom).prev().css({
                    "top": volumeTop,
                    "height": volumeHeight
                })
            },
            volumeDisappear: function () {
                volumeDisappearTimer = setTimeout(function () {
                    $(".voice-control-container").fadeOut(500)
                }, 3000)
            }
        }
        voiceControl.init();
    }

    videoVoice()
</script>
</body>
</html>