<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport"
        content="user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1">

  <title>静态文件管理</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/layui.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="layui.all.js"></script>
  <style type="text/css">
    .wa {
      width: 100%;
    }

    .layui-form-label {
      width: 90px;
    }
  </style>

</head>

<body>
<div id="header"></div>


<div class="content why-hilo">
  <h2>编辑Item</h2>

  <p class="info">

  <form action="editSave" method="post">
    <div class="layui-row">
      <div class="layui-col-md1">
        <!--上传图片-->
        <div class="layui-form-item">
          <label class="layui-form-label">静态模板</label>
          <div class="layui-input-block">
            <select name="templateName" lay-verify="required">
              <option value="jfinal_item">618模板</option>
              <option value="jfinal_item">双十一模板</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <input type="hidden" name="id" value="#(item.id)">
      <div class="layui-input-block">
        <input type="text" name="title" value="#(item.title)" required lay-verify="required"
               placeholder="请输入商品名称" autocomplete="off" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">商品描述</label>
      <div class="layui-input-block">
        <textarea name="content" placeholder="请输入内容"
                  class="layui-textarea">#(item.content)</textarea>
      </div>
    </div>
    <div class="layui-form-item">

      <label class="layui-form-label">注意事项</label>
      <div class="layui-input-block">
        <input type="text" name="notes" value="#(item.notes)" required lay-verify="required"
               placeholder="请输入注意事项" autocomplete="off"
               class="layui-input">
      </div>

    </div>
    <div class="layui-form-item">

      <label class="layui-form-label">面料</label>
      <div class="layui-input-block">
        <input type="text" name="fabric" value="#(item.fabric)" required lay-verify="required"
               placeholder="请输入面料" autocomplete="off"
               class="layui-input">
      </div>
    </div>

    <br/>

    <div class="layui-row">
      <div class="layui-col-md3">
        <!--上传图片-->
        <div class="layui-form-item">
          <label class="layui-form-label">主图</label>
          <div class="layui-input-block">
            <select name="mainFigure" lay-verify="required">
              <option value=""></option>
              <option value="../assets/img/product-detail-01(main).png">主图</option>
              <option value="../assets/img/product-detail-02.png">详细图01</option>
              <option value="../assets/img/product-detail-03.png">详细图01</option>
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-md3">
        <!--上传图片-->
        <div class="layui-form-item">
          <label class="layui-form-label">详情图一</label>
          <div class="layui-input-block">
            <select name="detailsFigure1">
              <option value="../assets/img/product-detail-01(main).png">主图</option>
              <option value="../assets/img/product-detail-02.png">详细图01</option>
              <option value="../assets/img/product-detail-03.png">详细图02</option>
            </select>
          </div>
        </div>
      </div>
      <div class="layui-col-md3">
        <!--上传图片-->
        <div class="layui-form-item">
          <label class="layui-form-label">详情图二</label>
          <div class="layui-input-block">
            <select name="detailsFigure2">
              <option value="../assets/img/product-detail-01(main).png">主图</option>
              <option value="../assets/img/product-detail-02.png">详细图01</option>
              <option value="../assets/img/product-detail-03.png">详细图02</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- 富文本 end -->
    <div class="layui-form-item">
      <div class="layui-input-block">


        #if (canWrite)

        <button class="layui-btn">保存</button>
        #end
        #if (!canWrite)

        现在有其他用户正在编辑，只读，一会儿刷新一下再试试
        #end
        <a href="javascript:history.go(-1);" class="layui-btn layui-btn-primary">返回</a>
      </div>
    </div>
  </form>
</div>
<div id="footer"></div>
<script>
  $("#header").load("header.html");
  $("#footer").load("footer.html");
</script>
</body>

</html>