<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商品列表</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/common.css">
  <link rel="stylesheet" href="style/theme.css">
  <link rel="stylesheet" href="style/product-list.css">
  <script src="lib/jquery/jquery-2.1.1.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/bootstrap/js/masonry.js"></script>
  <script src="lib/bootstrap/js/imagesloaded.js"></script>
  <script src="script/common-head-footer.js"></script>
</head>
<body>
<!--头部-->
<div id="app_header"></div>
<script>
  $("#app_header").load("app_header.html");
</script>
<section class="mobile-content clearfix home-page-content">
  <div class="aibo-box">
    <!--新品导航栏-->
    <h3 class="list-title x-list-title clearfix">
      本周新品
    </h3>
    <div class="nav-box">
      <div class="newproduct-nav xs-newproduct-nav">
        <span class="complex nav-active  nav-content" onclick="changeNavActive(this)">综合</span>
        <span class="new-good nav-content" onclick="changeNavActive(this)">新款
                </span>
        <span class="sales nav-content" onclick="changeNavActive(this)">销量
                </span>
        <span class="collect nav-content" onclick="changeNavActive(this)">收藏
                </span>
        <!-- <span class="xs-seasonal">换季优惠</span> -->
        <span class="sreening" onclick="filter(event)">
                <img class="shaixuan" src="assets/icon/filter.svg">
                <span onclick="changeNavActive(this)" class="nav-content">筛选</span>
                <span class="sreening-text hidden-xs"></span>
            </span>
      </div>
    </div>
    <!-- 主视觉图片 -->
    <div class="product-mainview">
      <div class="pl-complex pl-type ">
        <!--商品列表~综合-->
        <div class="product-body xs-product-body clearfix">

          #for(item:items)
          #if((for.index)%2==0)
          <div class="pl-coupleimg">
            #end
            <div class="col-lg-6 col-xs-6 xs-col">
              <div class="pl-img">
                <a href="https://www.baidu.com">
                  <img src="#(item.mainFigure)" class="pl-show-media">
                  <img src="#(item.detailsFigure2)"
                       class="pl-hover-media pl-hover-show hidden">
                  <div class="video-icon hidden-xs hidden">

                  </div>
                </a>
              </div>
              <p class="pl-title-padding">#(item.title)</p>
              <p class="">#(item.content)
              </p>
              <div class="set-color">
                <div class="set-color-position">
                  <!--颜色通过background-color改变-->
                  <span class="colortype active"
                        style="background-color:#880088"></span>
                  <span class="colortype"
                        style="background-image:url('assets/icon/pl-white.svg')"></span>
                  <span class="colortype" style="background-color:#e5e5e5"></span>
                </div>
              </div>
            </div>
            #if((for.index)%2==0)
          </div>
          #end
          #end

        </div>
      </div>
    </div>
  </div>
  <!--移动端分页-正在加载和没有更多了-->
  <div class="font14 text-center loading-setting">
    <div id="loading" class="display-none">
      <img src="assets/img/loading.gif">&nbsp;&nbsp;<span>正在加载...</span>
    </div>
  </div>
  <!--尾部-->
</section>
<div id="app_footer"></div>
<script>
  $("#app_footer").load("app_footer.html");
</script>
<script>
  /*-----------分页设置start-----------*/
  //假设总数据量为30条
  var totalData = #(totalData);
  var page = 1;//第几页
  var pageSize = #(pageSize);//每页数据量
  var staticPage = #(staticPage);//静态页面数量
  var category = "#(category)";//类别

  //上拉加载
  var $main = $(window);
  if ($(window).width() <= 767) {//移动端如果是头部固定的情况采用这种
    $main = $(".mobile-content");
  }
  $main.scroll(function () {
    //console.log('正在滑动f');
    //滚动条距离顶部的高度（滚动条距离顶部的高度）
    var scrollTop = $(this).scrollTop();
    //当前页面的总高度（文档总高度）
    var scrollHeight = $(document).height();
    if ($(window).width() <= 767) {//移动端如果是头部固定的情况采用这种
      scrollHeight = $(".aibo-box").height();
    }
    //当前可视的页面高度（滚动条高度）
    var clientHeight = $(this).height();

    if ((scrollTop + clientHeight + 100) >= scrollHeight) {
      //距离顶部+当前高度+100>=文档总高度 即代表滑动到底部
      if (($("#loading").css("display") === 'none')) {
        loadingData()
      }
    }
  });

  function loadingData() {
    let dataNum = pageSize * page;
    if (dataNum > totalData) {//没有更多的情况
      $("#noMore").show();
      $(".common-footer").show();
      $(".loading-setting").css({"position": "relative", "top": "30px"})

    } else {//模拟上拉加载
      $(".loading-setting").removeClass("hideen");
      page++;//页数+1
      $("#loading").show();//添加加载图
      let url = "main?pageNum=" + page + "&pageSize=" + pageSize + "&category=" + category;
      if (page <= staticPage) {
        url = "list_" + category + "_" + page + ".html";
      }
      $.get(url,
          function (data, status) {
            console.log(data);
            console.log(status);
            $(".product-body").append(data);
            $("#loading").hide();//隐藏加载图
          }
      );

    }
  }

  /*-----------分页设置End-----------*/
</script>
</body>

</html>
