<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport"
        content="user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1">

  <title>静态文件管理</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/layui.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">
  <style type="text/css">
    .wa {
      width: 100%;
    }
  </style>

</head>

<body>
<div id="header"></div>

<div class="content why-hilo">
  <h2>模板管理</h2>

  <p class="info">
    上传，或在线修改页面模板 <br/>
  </p>
  <div style="text-align: -webkit-center;">
    <a href="editTemplate" target="_blank" class="layui-btn layui-btn-normal">618模板</a>
  </div>
  <div style="text-align: -webkit-center;">
    <a href="editTemplate" target="_blank" class="layui-btn layui-btn-normal">双十一模板</a>
  </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="layui.all.js"></script>
<div id="footer"></div>
<script>
  $("#header").load("header.html");
  $("#footer").load("footer.html");
</script>
</body>

</html>